body {
  color: var(--text-primary);
  background-color: var(--background);
}

* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary: #1db954;
  --background: #121212;
  --background-paper: #181818;
  --text-primary: #e5e5e5;
  --text-secondary: #7c7c7c;
  --divider: rgba(255, 255, 255, 0.1);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}